<div class="container text-center" style="margin-top: 50px;">
  <div class="card" style="width: 80rem;">
    <div class="card-body">
        <h2 class="font-monospace text-center fs-2">Registrar nuevos productos</h2>
      <form action="/products" method="post">
          <div class="row g-3 align-items-center"style="margin-top: 20px;">
            <div class="col-2">
              <label for="title" class="col-form-label">Title:</label>
            </div>
            <div class="col-10">
              <input type="text" class="form-control" name="title" />
            </div>
          </div>

          <div class="row g-3 align-items-center" style="margin-top: 20px;">
            <div class="col-2">
              <label for="title" class="col-form-label">Price:</label>
            </div>
            <div class="col-10">
              <input type="text" class="form-control" name="price" />
            </div>
          </div>

          <div class="row g-3 align-items-center " style="margin-top: 20px;">
            <div class="col-2">
              <label for="title" class="col-form-label">Thumbnail:</label>
            </div>
            <div class="col-10">
              <input type="text" class="form-control" name="thumbnail" />
            </div>
          </div>  

          <div class="row g-3 align-items-center " style="margin-top: 20px;">
            <div class="col-2">
            </div>
            <div class="col-10">
              <input type="submit" class="form-control btn btn-success" name="send" />
            </div>
          </div>  

        </div>
      </form>
      <a href="/products" class="btn btn-info"  style="margin-bottom: 20px;">View products</a>
    </div>
  </div>
</div>

<hr />
